*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{

background:url("img.jpg");
background-size:cover;
background-position:center;
background-attachment:fixed;

min-height:100vh;

}

.overlay{

width:100%;
min-height:100vh;

background:rgba(0,0,0,.75);

display:flex;
justify-content:center;
align-items:center;

padding:40px 20px;

}

.card{

width:1000px;
max-width:95%;

background:rgba(255,255,255,.08);
backdrop-filter:blur(10px);

border:1px solid rgba(255,255,255,.2);
border-radius:20px;

padding:40px;

color:white;

}

h1{

text-align:center;
font-size:42px;

margin-bottom:8px;

}

h3{

text-align:center;
font-weight:normal;
color:#00c3ff;

margin-bottom:35px;

}

/* Intro */

.intro{

display:flex;
align-items:center;
gap:25px;

background:rgba(255,255,255,.08);

padding:25px;

border-left:5px solid #00c3ff;

border-radius:15px;

}

.icon{

font-size:55px;

}

.intro h2{

color:#00c3ff;
margin-bottom:10px;

}

.intro p{

line-height:1.8;
color:#ddd;

}

.title{

margin:40px 0 20px;

color:#00c3ff;

}

/* Grid */

.grid{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:20px;

}

.box{

background:rgba(255,255,255,.08);

padding:25px;

border-radius:15px;

border-top:4px solid #00c3ff;

transition:.3s;

}

.box:hover{

transform:translateY(-8px);

background:rgba(255,255,255,.15);

}

.box h3{

text-align:left;

margin-bottom:15px;

}

.box p{

line-height:1.7;

color:#ddd;

}

/* Activities */

.activity{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:20px;

}

.activity div{

background:rgba(255,255,255,.08);

padding:18px;

border-left:5px solid #00c3ff;

border-radius:10px;

transition:.3s;

}

.activity div:hover{

transform:translateX(8px);

}

/* Soft Skills */

.skills{

display:flex;

flex-wrap:wrap;

gap:15px;

}

.skills span{

padding:12px 20px;

background:#00c3ff;

color:#000;

border-radius:30px;

font-weight:bold;

}

/* Interests */

.interest{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:20px;

}

.interest-box{

background:rgba(255,255,255,.08);

padding:25px;

border-radius:15px;

border-left:5px solid #00c3ff;

transition:.3s;

}

.interest-box:hover{

transform:translateY(-8px);

background:rgba(255,255,255,.15);

}

.interest-box h3{

text-align:left;

margin-bottom:15px;

}

.interest-box p{

line-height:1.7;

color:#ddd;

}

@media(max-width:850px){

.intro{

flex-direction:column;

text-align:center;

}

.grid,
.activity,
.interest{

grid-template-columns:1fr;

}

}

@media(max-width:600px){

.card{

padding:25px;

}

h1{

font-size:34px;

}

}